body {
    /* padding: auto 0; */
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    /* text-align: center; */
    text-transform: uppercase;
    /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    background-image: linear-gradient(to right, red, yellow);


}

.right {
    margin-left: 40%;
}

h1 {
    /* font: 600 3.5em 'Raleway', sans-serif; */
    font-size: 300%;
    letter-spacing: .3em;
    width: 100%;


}

.textcolorBlock {
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
}

.BgBlock {
    border: 2px solid rgb(0, 0, 0);
    width: 50%;


}

h2 {


    letter-spacing: .2em;
}

h3 {
    text-transform: lowercase;
    text-shadow: 32em;
}