body {
    padding: auto 0;
    font-family: 'Raleway', sans-serif;
    color: rgb(46, 42, 41);
    /* text-align: center; */
    text-transform: uppercase;
    /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    background-image: linear-gradient(to right, red, yellow);
    max-width: 100%;


}

.right {
    margin-left: 40%;
}

h1 {
    /* font: 600 3.5em 'Raleway', sans-serif; */
    font-size: 20px;
    /* letter-spacing: .3; */
    width: 4vw;


}

.textcolorBlock {
    border: 2px solid rgb(0, 0, 0);
    width: 0.5fr;
}

.BgBlock {
    border: 2px solid rgb(0, 0, 0);
    width: 0.5fr;


}

h2 {


    letter-spacing: .2em;
    width: 20vw;

}

h3 {
    text-transform: lowercase;
    text-shadow: 32em;
}